@model IEnumerable<LSM.Models.Course>

@{
    /**/

    ViewBag.Title = "Index";
    string messagetosend = ViewBag.Message;
    string colortoshow = "";



    if (!(ViewBag.Message == "None"))
    {

        if (messagetosend.Substring(messagetosend.Length - 8) == "deleted!")
        {
            colortoshow = "red";
        }
        else
        {
            colortoshow = "green";


        }

    }
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<h1>Courses</h1>
@if (!(ViewBag.Message == "None"))
{
    <div id="message2" class="@colortoshow"><p>@ViewBag.Message</p></div>
}
<p>
    @Html.ActionLink("Create New", "Create", new { id = "" }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>View/Edit</th>
        <th>Start</th>
        <th>End</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id = item.Id }, new { @class = "btn  btn-info" })
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.StartDate)*@
                @item.StartDate.ToShortDateString()
            </td>
            <td>
                @item.StopDate.ToShortDateString()
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/Scripts/ScriptforLSM.js")
}